#login {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(252.44deg, #FFFFFF 0.3%, rgba(255, 255, 255, 0) 68.49%), #184E77;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#linha {
    position: absolute;
    width: 84px;
    height: 7px;
    left: 108px;
    top: 243px;
    background: #34A0A4;
}

#linha2 {
    position: absolute;
    width: 649px;
    height: 3px;
    left: 109px;
    top: 380px;
    background: #FFFFFF;
}

#linha3 {
    position: absolute;
    width: 649px;
    height: 3px;
    left: 108px;
    top: 526px;
    background: #FFFFFF;
}

#teste1 {
    position: absolute;
    width: 93px;
    height: 44px;
    left: 109px;
    top: 199px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

#teste {
    position: absolute;
    width: 166px;
    height: 44px;
    left: 274px;
    top: 199px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
}

#usu {
    position: absolute;
    width: 265px;
    height: 44px;
    left: 109px;
    top: 344px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

#span {
    position: absolute;
    width: 265px;
    height: 44px;
    left: 109px;
    top: 489px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

#span2 {
    position: absolute;
    width: 266px;
    height: 43px;
    left: 108px;
    top: 575px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

button {
    position: absolute;
    width: 227px;
    height: 71px;
    left: 474px;
    top: 619px;
    background: #34A0A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

#sepre {
    position: absolute;
    width: 459px;
    height: 32px;
    left: 109px;
    top: 781px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

#logo {
    position: absolute;
    width: 580px;
    height: 635px;
    left: 813px;
    top: 171px;
}